{% extends 'base.html' %}

{% block content %}

    Chào mừng nhân viên {{ current_user.name }}
    <h1 class="text-[40px] font-bold p-6">Các chuyến bay</h1>
    <div id="flight_container" class="grid mx-auto md:gap-6">
        {% for flight in flights %}
            <form action="/em/schedule/{{ flight.id }}" method="post" class="grid grid-cols-2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                <div class="bg-white p-4">
                    <p class="text-xl font-bold mb-2">Mã chuyến bay: {{ flight.id }}</p>
                    <p>Thời gian tới: {{ flight.departure_time }}</p>
                    <p>Thời gian bay: {{ flight.time_flight }}</p>
                    <p>Tên máy bay: {{ flight.aircraft_name }}</p>
                    <p>Tên tuyến bay: {{ flight.route_name }}</p>
                    <p>Số trạm dừng: {{ flight.stop_airport_numbers }} trạm dừng</p>
                </div>
                <div class="flex justify-center items-center">
                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-xl " type="button">Sửa thông tin</button>
                </div>
            </form>
        {% endfor %}
    </div>

<script>

</script>

{% endblock %}