<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
    </script>

    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet" type="text/css"/>

</head>

{% extends 'base.html' %}

{% block content %}
    <div class="">
        <form id="search_flight_form" method="GET" action="/api/flight">
            <div class="grid grid-cols-3 items-center gap-[20px]">
                <div class="w-full relative">
                    <label for="departure_airport" class="mb-[6px]">
                        Từ
                    </label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg" data-id="IcFlightTakeOff">
                                <path d="M3 21H21" stroke="#0194f3" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M12 9L15.1924 7.93585C17.317 7.22767 19.6563 7.95843 21 9.75L7.44513 14.0629C5.86627 14.5653 4.1791 13.6926 3.67674 12.1137C3.66772 12.0854 3.65912 12.0569 3.65094 12.0283L3 9.75L5.25 10.875L9 9.75L4.5 3H5.25L12 9Z"
                                      stroke="#0194f3" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </div>
                        <input required id="departure_airport" autocomplete="on" autocorrect="on"
                               name="departure_airport" type="text"
                               class="text-[16px] w-full focus:outline-none border-[4px] border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block ps-10 p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input"
                               placeholder="Điểm đi">
                    </div>
                </div>

                <div class="w-full relative">
                    <label for="arrival_airport" class="mb-[6px]">
                        Đến
                    </label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg" data-id="IcFlightLanding">
                                <path d="M3 21H21" stroke="#0194f3" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M21 15L7.1263 13.8439C4.79398 13.6495 3 11.6998 3 9.3594V7.5L4.5 10.5H9L7.5 3H8.1L12 10.5L17.3419 11.5684C18.7036 11.8407 19.8632 12.7265 20.4843 13.9685L21 15ZM16.5 17.625L16.875 17.25L17.25 17.625L16.875 18L16.5 17.625Z"
                                      stroke="#0194f3" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </div>
                        <input required id="arrival_airport" name="arrival_airport" type="text"
                               class="text-[16px] w-full focus:outline-none border-[4px] border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block ps-10 p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input"
                               placeholder="Điểm đến">
                    </div>
                </div>

                <div class="w-full relative">
                    <label for="seat_type" class="mb-[6px]">
                        Hạng ghế
                    </label>
                    <div class="relative">
                        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                            <svg width="16" height="16" viewBox="0 0 24 24" fill="none"
                                 xmlns="http://www.w3.org/2000/svg" data-id="IcTransportSeatClass">
                                <path d="M6.99997 21H17M4.10496 3H4.76788C6.0927 3 7.26067 3.869 7.64136 5.13796L9.78617 12.2873C9.91307 12.7103 10.3024 13 10.744 13H16.4059C18.0152 13 19.7434 13.8444 20.5714 15.2244C21.3043 16.4459 20.4244 18 18.9999 18H7.21493C5.67368 18 4.38318 16.8321 4.22982 15.2985L3.10992 4.0995C3.05105 3.51082 3.51333 3 4.10496 3Z"
                                      stroke="#687176" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                                <path d="M13 10H17" stroke="#0194f3" stroke-width="2" stroke-linecap="round"
                                      stroke-linejoin="round"></path>
                            </svg>
                        </div>
                        <select style="-webkit-appearance: none" id="seat_type"
                                class="text-[16px] w-full focus:outline-none border-[4px] border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block ps-10 p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input ui-autocomplete-input">
                            {% for type in seat_types %}
                                <option value="{{ type }}">{{ type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div date-rangepicker class="col-span-2 flex items-center flex-1 gap-[20px]">
                    <div class="w-full relative">
                        <h1 class="mb-[4px]">
                            Ngày đi
                        </h1>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                </svg>
                            </div>
                            <input id="start" name="start" type="text"
                                   class=" text-[16px] w-full focus:outline-none border-[4px] border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block ps-10 p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input ui-autocomplete-input"
                                   placeholder="Ngày đi">
                        </div>
                    </div>
                    <div class="w-full relative">
                        <div id="picktime_back" class=" pointer-events-none relative hidden">
                            <h1>
                                Khứ hồi
                            </h1>
                            <div class=" relative">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                    </svg>
                                </div>
                                <input id="end" disabled required name="end" type="text"
                                       class="text-[16px] w-full focus:outline-none border-[4px] border-gray-200 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block ps-10 p-2.5 dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input ui-autocomplete-input"
                                       placeholder="Ngày về">
                            </div>
                        </div>

                        <div class="absolute mb-[6px] pointer-events-auto">
                            <input id="roundTrip"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                   type="checkbox" name="type_flight" value="roundTrip">
                            <label for="roundTrip">
                                <span>Khứ hồi</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="self-end flex bg-orange-500 rounded-[20px] border-[4px] border-gray-200">
                    <button type="submit"
                            class="flex w-full gap-[8px] h-[50px] items-center justify-center">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                             data-id="IcSystemSearch">
                            <path d="M15 15L20.5 20.5M10 17C13.866 17 17 13.866 17 10C17 6.13401 13.866 3 10 3C6.13401 3 3 6.13401 3 10C3 13.866 6.13401 17 10 17Z"
                                  stroke="#FFFFFF" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round"></path>
                        </svg>
                        <span class="text-white">Tìm kiếm chuyến bay</span>
                    </button>
                </div>

            </div>
        </form>

        <!-- component -->
        <div id="flight_container" class="">

        </div>


    </div>


    <script>
        let roundTripBtn = document.querySelector("input[name='type_flight']")
        roundTripBtn.addEventListener('click', function (e) {
            let picktime_back = document.querySelector('#picktime_back')
            if (this.checked) {
                picktime_back.classList.remove('pointer-events-none', 'hidden')
                picktime_back.querySelector('input').removeAttribute('disabled')
            } else {
                picktime_back.classList.add('pointer-events-none', 'hidden')
                picktime_back.querySelector('input').setAttribute('disabled', '')
            }
        })

        $(function () {
            var availableTags = [
                {% for p in airports %}
                    "{{p.name}}" + " {{ p.location }}",
                {% endfor %}
            ];
            $("#departure_airport").autocomplete({
                source: availableTags
            });
            $("#arrival_airport").autocomplete({
                source: availableTags
            });
        });

        let booking_form = document.getElementById('search_flight_form')

        booking_form.addEventListener('submit', function (e) {
            e.preventDefault()

            search_flight()
        })

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/datepicker.min.js"></script>
    <script src="{{url_for('static', filename='/js/booking.js')}}"></script>
{% endblock %}



